*.pyc
*~
*.orig
*.*#
*.bak
*.gz
*.directory
*.m
*.sh
pinegrow.json
/fotos
/doc/TO_Leonel.txt
_pgbackup

scwt.sublime-project
scwt.sublime-workspace

.DS_Store

application/cache/*
!application/cache/index.html
!application/cache/.htaccess

application/logs/*
!application/logs/index.html
!application/logs/.htaccess

/vendor/

# IDE Files
#-------------------------
/nbproject/
.idea/*

## Sublime Text cache files
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache
*.sublime-workspace
*.sublime-project
